@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
body,
*,
button,
a {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    text-shadow: inherit !important;
}

a,
button {
    transition: all 0.3s;
}

.light {
    margin: 0 auto;
    padding-top: 30px;
    width: 100%;
    border-top: 1px solid #eee;
    margin-top: 26px;
}

.light input[type="text"] {
    border: 1px solid rgba(0, 0, 0, .15);
    float: left;
    border-radius: 5px;
    height: 22px;
    padding: 4px;
    padding-left: 33px;
    width: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: url(search-512.png) no-repeat 7px 7px #fcfcfc;
}

.light input[type="submit"] {
    background: none repeat scroll 0 0 #0CACE8;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    height: 45px;
    padding: 5px 20px;
    text-transform: uppercase;
}

.light input[type="submit"]:hover {
    background-color: #333;
}

.map-holder {
    background-image: url(loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

div.ui-slider {
    height: 13px;
}

#slider label {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;
}

#slider {
    float: left;
    width: 100%;
}

iframe {
    display: block;
    width: 100%;
}

.container {
    height: auto;
    overflow: hidden;
}

.right {
    width: 98px;
    float: right;
}

.left {
    float: none;
    width: 190px;
    padding-right: 16px;
    font-size: 15px;
    font-weight: 500;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #4384F3;
    background: #4384F3;
    font-weight: normal;
    color: #454545;
    height: 16px;
    width: 16px;
    transition: all 0.3s ease 0s;
}

.ui-state-default:hover {
    background: #dcdcdc;
}

div.ui-slider {
    height: 5px;
}

.ui-widget.ui-widget-content {
    border: 1px solid #d2d2d2;
    background-color: #f1f1f1;
    border-radius: 0px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
    margin-left: -.6em;
    border-radius: 100%;
}

#wrap {
    width: 1100px;
    margin: 0px auto;
}

.leftr {
    float: left;
    width: 30%;
    margin-right: 2%;
    background-color: #ffffff;
    z-index: 4;
    position: relative;
    max-width: 313px;
    padding: 24px;
    box-shadow: 0px 21px 35px rgb(180 185 193 / 29%);
    margin-top: 0;
    border: 2px solid #ffffff;
    border-radius: 0px;
    border-top: 0;
    overflow: hidden;
    margin-top: 29px;
    padding-bottom: 34px;
}

.logo {
    max-width: 29px;
    position: relative;
    top: 11px;
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
    height: 50px;
}

h2 {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 4px;
    display: block;
    margin-top: 15px;
}

#flipswitchWrapper {
    display: inline;
}

#flipswitchWrapper .ui-flipswitch {
    width: 100px;
    height: 27px;
    margin-top: 4px;
    padding-top: 1px;
    border: 0px;
    padding-left: 1px;
    box-shadow: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
}

#flipswitchWrapper .ui-flipswitch-active {
    padding-left: 0px;
    background: #4384f3;
}

#flipswitchWrapper .ui-flipswitch .ui-flipswitch-on,
#flipswitchWrapper .ui-flipswitch.ui-flipswitch-active .ui-flipswitch-on {
    width: 23px;
    height: 23px;
    text-indent: -20em;
    border-radius: 100%;
    box-shadow: none;
}

#flipswitchWrapper .ui-flipswitch.ui-flipswitch-active .ui-flipswitch-on {
    padding-top: 0px;
    margin-left: 61px;
    text-indent: -53px;
    line-height: 25px;
    font-size: 13px;
}

#flipswitchWrapper .ui-flipswitch-off {
    line-height: 25px;
    font-size: 13px;
}

.ui-page-theme-a .ui-flipswitch-active {
    background-color: #34a853;
    border-color: #5c768a;
    color: #fff;
}

.ui-shadow {
    -webkit-box-shadow: 0 0px 9px rgba(57, 76, 93, 0.59);
    -moz-box-shadow: 0 0px 9px rgba(57, 76, 93, 0.59);
    box-shadow: 0 0px 9px rgba(57, 76, 93, 0.59);
}

.flipout {
    width: 49%;
    float: left;
    margin-top: 30px;
}

h3 {
    display: inline;
    margin-bottom: 0;
    margin-top: 0px;
    font-weight: 500;
    font-size: 15px;
}

.other {
    width: 49%;
    float: left;
    margin-left: 2%;
    margin-top: 30px;
}

h3.mapz {
    display: block;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0px;
    font-weight: 500;
    font-size: 15px;
}

#zoom {
    position: relative;
    top: 4px;
    width: 80px;
}

.clear {
    clear: both;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.map-holder {
    text-align: center;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 11px;
}

.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #464a4c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.input-group-addon,
.input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
    height: 12px;
    font-size: 13px;
    border-radius: 0px 3px 3px 0px;
    margin-left: -1px;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
.input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group>.btn,
.input-group-btn:not(:last-child)>.dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.ui-mobile .ui-page {
    background: none;
}

#code {
    font-size: 14px;
    width: 500px;
    height: 110px;
    line-height: 19px;
    padding: 11px;
    color: #333;
}

.d {
    margin-top: 30px;
}

.e {
    margin-top: 20px;
    margin-bottom: 5px;
}

#h {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 16px;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-weight: bold;
    border-radius: 5px;
    border: 0px solid #4285f4;
    color: #ffffff;
    background-color: #4285f4;
    font-size: 14px;
    margin-bottom: 17px;
    margin-top: 31px;
    max-width: 310px;
    min-width: 310px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    text-shadow: none;
    box-shadow: 0px 0px 0px;
    font-family: 'Ubuntu', sans-serif;
}

#ac {
    height: 10px;
    font-size: 14px;
    padding-top: 10px;
    line-height: 0;
}

.overlay {
    background: rgba(0, 0, 0, 0.24);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 200ms ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 99;
}

.modal {
    background-color: #FFF;
    border-radius: 3px;
    top: 14vh;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 50px #333;
    border: 4px solid #4384f3 !important;
    right: 0;
    transition: all 600ms ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    padding: 2% 3%;
    width: 70%;
    text-align: center;
    height: auto;
    max-width: 650px;
    padding-bottom: 50px;
    border-radius: 10px;
}

textarea {
    height: 144px;
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    color: #444;
    padding: 1%;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: #fafafa;
    resize: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

.modal h1 {
    font-size: 22px;
    font-weight: 200;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    color: #4384f3;
}

.modal label {
    color: #f1b561;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
    top: 20px;
}

.modal input[type="text"] {
    border: none;
    font-size: 22px;
    height: 75px;
    text-indent: 15px;
    width: 100%;
}

.modal input[type="text"]:first-of-type {
    border-bottom: 1px solid rgba(50, 58, 70, 0.31);
    margin-bottom: 15px;
}

.modal .input input[type="button"] {
    border: none;
    cursor: pointer;
    float: left;
    height: 50px;
    width: 50%;
    transition: all 300ms ease-out;
}

.modal .input input[type="button"]:first-of-type {
    background-color: #f2f2f2;
    color: #b4bac4;
}

.modal .input input[type="button"]:first-of-type:hover {
    background-color: #323a46;
    color: white;
}

.modal .input input[type="button"]:last-of-type {
    background-color: #f1b561;
    color: #FFF;
}

.modal .input input[type="button"]:last-of-type:hover {
    background-color: #323a46;
    color: white;
}

button.btn,
button.btns {
    background-color: #ea4335;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 300ms ease-out;
    display: inline;
    height: 28px;
    margin-top: 4px;
    width: 21px;
}

button:hover {
    opacity: 0.9;
}

.mapout {
    position: absolute;
    width: auto;
    margin-left: 400px;
    margin-top: 33px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 21px 35px rgb(180 185 193 / 29%);
}

#le {
    width: 600px;
    height: 500px;
    padding: 0;
    text-align: center;
    margin: 0px auto;
}

#wrap a,
#wrap a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 100%;
    width: 100%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}